<br>
<div class="container">
    <div class="row">
        AC1:
        <input type="number" placeholder="ac1" name="ac1" [(ngModel)]="ac1"> AC2:
        <input type="number" placeholder="ac2" name="ac2" [(ngModel)]="ac2">AG:
        <input type="number" placeholder="ag" name="ag" [(ngModel)]="ag">AF:
        <input type="number" placeholder="af" name="af" [(ngModel)]="af">

    </div>
    <br>
    <div class="row">
        <br>
        <button class="btn btn-primary" (click)="media()">Calcular</button>
    </div>
    <br>
    <div class="row">
        Resultado:
        <input name="resultado" [(ngModel)]="resultado">
    </div>
</div>